<div class="container">
   <div class="container-header">
      <h1>Welcome to exercises!</h1>
      <h2>Current Flight Status</h2>
      <p>{{message}}</p>
      <h2>Shuttle Trajectory</h2>
   </div>
   <div class="row justify-content-center">
      <div class="col-3">
         <div class="container-left">
            <h3>Fuel Levels</h3>
            <p>Tank Full</p>
            <h3>Astronaut Chat</h3>
            <p>Houston, we are ready when you are!</p>
         </div>
      </div>

      <div class="col-6">
         <div class="shuttle-background" [style.backgroundColor]="color">
            <img src="assets/images/LaunchCode_rocketline_white.png" c
            [style.top.px]="top" [style.right.px]="right"
            height = "75" width = "75" [style.left.px]="left" [style.bottom.px]="bottom"/>
         </div>
      </div>

      <div class="col-3">
         <div class="container-right"b>
            <button style="cursor:pointer;" (click)="handleUp()">Up</button>
            <button style="cursor:pointer;" (click)="handleDown()">Down</button>
            <button style="cursor:pointer;" (click)="handleRight()">Right</button>
            <button style="cursor:pointer;" (click)="handleLeft()">Left</button>
            <h3>Space Shuttle Height</h3>
            <p>{{height}} km</p>
         </div>
      </div>
   </div>
   <div class="container-control-buttons">
      <button (click)="confirmTakeOff()">Take Off</button>
      <button (click)="landShuttle()">Land</button>
      <button (click)="abortMission()">Abort Mission</button>
   </div>
</div>