<div class="container">
    <h2 class="centered" *ngIf = "!editMissionName; else editMission" 
        (click)="editMissionName = true">Mission Name: {{missionName}}
    </h2>
  <br>
  <div class="row justify-content-center">
    <div class="candidates col-3">
      <h2>Candidates</h2>
      <ol>
        <li (click)="selected = candidate" *ngFor="let candidate of candidates">{{candidate.name}}</li>
      </ol>
    </div>

    <div class="data col-3">
      <h2>Candidate Data</h2>
      <p *ngIf="selected.name">
        <label>Name: {{selected.name}}</label><br>
        <label>Age: {{selected.data.age}}</label><br>
        <label>Mass: {{selected.data.mass}}</label><br>
        <label>Sidekick: {{selected.data.sidekick}}</label>
      </p>
    </div>

    <div class="centered col-3">
      <h2>Sidekick</h2>
      <!-- Use *ngIf and the correct placeholder to display a sidekick's image -->
      <img *ngIf="selected.name" [src]="selected.image" alt="OOPS! No image available." />
    </div>

    <div class="crew col-3">
      <h2>Selected Crew</h2>
      <ul>
        <li *ngFor="let crw of crew">{{crw.name}}</li>
      </ul>
      <button *ngIf="crew.length" (click)="crew=[]">Clear Crew List</button>
    </div>
  </div>

  <hr>
  <div class='centered'>
    <button (click)="selected = {}">Clear Data & Image</button>
    <button style="margin-left: 8px;" *ngIf="!existsInCrew || selected.name"  (click)="addToCrew(selected)">Send on Mission</button>
  </div>
</div>

<!-- The code below is for one of the Bonus Missions -->
<ng-template #editMission>
  <h2 class="centered">
    Mission Name:
    <!-- Add a keyup.enter event that calls the changeMissionName function. -->
    <input (keyup.enter)="changeMissionName(newName.value);editMissionName=false;" #newName type="text" />
  </h2>
</ng-template>
